<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>inputbox</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">inputbox</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <img src="../../assets/Ionic_Logo.svg.png" alt="B C B S M logo"/>
  </ion-item>


  <ion-item>
    <ion-input id="username" type="text" placeholder="Username" aria-label="Enter your username">
    </ion-input>
  </ion-item>
</ion-content>
