<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inbox
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <span hidden id="btnText">This is a test for click event on readonly </span>
  <ion-input label="Start Date" placeholder="Enter Start Date" type="text" [readonly]="true"
    id="start-date-modal"></ion-input>

  <ion-modal #startdatemodal trigger="start-date-modal" [cssClass]="'custom-calendar'">
    <ng-template>
      <h2>This is a test modal</h2>
    </ng-template>
  </ion-modal>
</ion-content>