<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inbox
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <span id="btnText">This is a test for aria-describedby</span>


  <ion-list>
    <ion-item>
      <ion-select value="apple" aria-describedby="btnText">
        <ion-select-option value="apple">Apple</ion-select-option>
        <ion-select-option value="banana">Banana</ion-select-option>
        <ion-select-option value="orange">Orange</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-button>Default</ion-button>
</ion-content>
